---
import GraphicSpecies from "../../components/GraphicSpecies.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-2xl mb-6">Penguins Gentoo</h1>
      <div class="my-6 space-y-4">
        <a href="/" class="rounded bg-gray-600 text-white px-4 py-2 inline-block mb-4">← Retour</a>
      </div>
  <GraphicSpecies species="Gentoo" />
</Layout>
